<header>
  <h1>Ember Divider Dots</h1>
</header>

<section class="page-section">
  <h2>Examples and Usage</h2>
  <div class="content-box"></div> represents each divider's bounding box.

  <h1>Basic Layout</h1>

  <h2>Horizontal Dots</h2>

  {{divider-dots class="content-box u-mb-md" numDots=1 containerHeight="2em"}}
  {{divider-dots class="content-box u-mb-md" numDots=2 containerHeight="2em"}}
  {{divider-dots class="content-box u-mb-md" numDots=3 containerHeight="2em"}}
  {{divider-dots class="content-box u-mb-md" numDots=4 containerHeight="2em"}}
  {{divider-dots class="content-box u-mb-md" numDots=5 containerHeight="2em"}}

  <h2>Vertical Dots</h2>

  {{divider-dots class="content-box u-mr-md" direction="vertical" numDots=5 containerWidth="2em"}}
  {{divider-dots class="content-box u-mr-md" direction="vertical" numDots=4 containerWidth="2em"}}
  {{divider-dots class="content-box u-mr-md" direction="vertical" numDots=3 containerWidth="2em"}}
  {{divider-dots class="content-box u-mr-md" direction="vertical" numDots=2 containerWidth="2em"}}

  {{divider-dots class="content-box u-mr-md" direction="vertical" numDots=1 containerWidth="2em"}}

  {{divider-dots class="content-box u-mr-md" direction="vertical" numDots=2 containerWidth="2em"}}
  {{divider-dots class="content-box u-mr-md" direction="vertical" numDots=3 containerWidth="2em"}}
  {{divider-dots class="content-box u-mr-md" direction="vertical" numDots=4 containerWidth="2em"}}
  {{divider-dots class="content-box" direction="vertical" numDots=5 containerWidth="2em"}}

</section>

{{divider-dots class="divider-row" numDots=6}}

<section class="page-section">
  <h1>Justification Types</h1>

  <h3>Center (default)</h3>

  {{divider-dots class="content-box"}}

  {{divider-dots class="content-box" direction="vertical"}}

</section>

{{divider-dots class="divider-row" numDots=6}}

<section class="page-section">
  <h1>Dot Types</h1>
</section>

