<header class="u-mt-xl">
  <h1 class="page-headline u-text-center g-primary u-m-0">Ember Divider Dots</h1>
</header>

{{divider-dots class="demo-page-divider u-mv-xl" numDots=8 gutterSizePct="300"}}

<section class="u-ph-lg">
  <section class="page-section">
    <h1 class="section-heading g-primary">Description</h1>

    <p class="g-font-larger">
      A customizable Ember component for rendering SVG section dividers
    </p>
  </section>

  <section class="page-section">
    <h1 class="section-heading g-primary">Examples and Usage</h1>

    <div class="demo-dots demo-dots-legend u-mh-auto"></div>
    <p class="u-text-center g-font-larger">Represents each divider's bounding box.</p>
  </section>

  <section class="page-section">
    <h2 class="section-heading g-primary">Basic Layout</h2>

    <h3 class="g-primary u-text-center">Horizontal Dots</h3>

    <div class="dot-set dot-set--horizontal">
      {{divider-dots class="demo-dots" numDots=1 containerHeight="2em"}}
      {{divider-dots class="demo-dots" numDots=2 containerHeight="2em"}}
      {{divider-dots class="demo-dots" numDots=3 containerHeight="2em"}}
      {{divider-dots class="demo-dots" numDots=4 containerHeight="2em"}}
      {{divider-dots class="demo-dots" numDots=5 containerHeight="2em"}}
    </div>

    <h3 class="g-primary u-text-center">Vertical Dots</h3>

    <div class="u-text-center dot-set dot-set--vertical">
      {{divider-dots class="demo-dots" direction="vertical" numDots=5 containerWidth="2em"}}
      {{divider-dots class="demo-dots" direction="vertical" numDots=4 containerWidth="2em"}}
      {{divider-dots class="demo-dots" direction="vertical" numDots=3 containerWidth="2em"}}
      {{divider-dots class="demo-dots" direction="vertical" numDots=2 containerWidth="2em"}}

      {{divider-dots class="demo-dots" direction="vertical" numDots=1 containerWidth="2em"}}

      {{divider-dots class="demo-dots" direction="vertical" numDots=2 containerWidth="2em"}}
      {{divider-dots class="demo-dots" direction="vertical" numDots=3 containerWidth="2em"}}
      {{divider-dots class="demo-dots" direction="vertical" numDots=4 containerWidth="2em"}}
      {{divider-dots class="demo-dots" direction="vertical" numDots=5 containerWidth="2em"}}
    </div>
  </section>

  {{divider-dots class="demo-page-divider section-page-divider" numDots=8 gutterSizePct="300"}}

  <section class="page-section">
    <h2 class="section-heading g-primary">Justification Types</h2>

    <h3 class="g-primary u-text-center">Center (default)</h3>

    <div class="dot-set dot-set--horizontal u-mb-md">
      {{divider-dots class="demo-dots" containerHeight="2em"}}
    </div>

    <div class="u-text-center dot-set dot-set--vertical">
      {{divider-dots class="demo-dots" direction="vertical" containerWidth="2em" gutterSizePct=75}}
    </div>

    {{#each (array 'start' 'end' 'between') as |justification|}}
      <h3 class="g-primary u-text-center">{{capitalize justification}}</h3>

      <div class="dot-set dot-set--horizontal u-mb-md">
        {{divider-dots class="demo-dots" containerHeight="2em" justify=justification}}
      </div>

      <div class="u-text-center dot-set dot-set--vertical">
        {{divider-dots class="demo-dots" direction="vertical" containerWidth="2em" justify=justification gutterSizePct=75}}
      </div>
    {{/each}}

  </section>

  {{divider-dots class="demo-page-divider section-page-divider" numDots=8 gutterSizePct="300"}}

  <section class="page-section">
    <h2 class="page-section g-primary">Dot Types</h2>
  </section>

</section>


