<header class="u-mt-lg">
  <h1 class="page-headline u-text-center g-primary u-m-0">Ember Divider Dots</h1>
</header>

{{demo-page-divider class="u-mv-lg"}}

<article class="u-ph-lg">
  <section class="page-section u-mb-lg">
    <h1 class="section-heading g-primary">Why?</h1>

    <p>
      Section divider "dots" are a common design pattern, and they can add a nice touch
      to long, content-heavy pages.
    </p>

    <p>
       But implementing them is tough!
    </p>

    <p>
      There's a wide variety of ways to approach their markup and styling,
      and if you want to use SVG (good for you!), the calculus for sizing and positioning
      gets even more involved.
    </p>

    <p>
      And so as simple as they seem, divider dots are often overlooked. But no more!
    </p>

    <p>
      Ember Divider Dots provides an easy-to-use, easy-to-configure component that generates
      a line of "dots" as crisp SVGs wherever you choose to place it. Check out usage tips and examples
      below!
    </p>
  </section>

  <section class="page-section u-mb-lg">
    <h1 class="section-heading g-primary">Examples and Usage</h1>

    <div class="demo-dots demo-dots-legend demo-dots--bordered u-mh-auto"></div>
    <p class="u-text-center g-font-larger">
      <span class="g-font-bold">🔑 TIP:</span>
      A border like the one above represents each divider's bounding box.
    </p>
  </section>

  <section class="page-section">
    <h2 class="section-heading g-primary">Basic Layout</h2>

    <section class="content-section">
      <h4 class="g-primary">Horizontal Dots (default)</h4>

      <div class="dot-set dot-set--horizontal">
        {{!-- BEGIN-SNIPPET basic-layout-horizontal-dots --}}
        {{divider-dots class="demo-dots demo-dots--bordered" numDots=1 lineHeight="2em"}}
        {{divider-dots class="demo-dots demo-dots--bordered" numDots=2 lineHeight="2em"}}
        {{divider-dots class="demo-dots demo-dots--bordered" numDots=3 lineHeight="2em"}}
        {{divider-dots class="demo-dots demo-dots--bordered" numDots=4 lineHeight="2em"}}
        {{divider-dots class="demo-dots demo-dots--bordered" numDots=5 lineHeight="2em"}}
        {{!-- END-SNIPPET --}}
      </div>

      {{snippet-view-toggler class="u-mt-md" snippetName="basic-layout-horizontal-dots.hbs"}}
    </section>

    <section class="content-section">
      <h4 class="g-primary">Vertical Dots</h4>

      <div class="u-text-center dot-set dot-set--vertical">
        {{!-- BEGIN-SNIPPET basic-layout-vertical-dots --}}
        {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" numDots=5 lineWidth="2em"}}
        {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" numDots=4 lineWidth="2em"}}
        {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" numDots=3 lineWidth="2em"}}
        {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" numDots=2 lineWidth="2em"}}

        {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" numDots=1 lineWidth="2em"}}

        {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" numDots=2 lineWidth="2em"}}
        {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" numDots=3 lineWidth="2em"}}
        {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" numDots=4 lineWidth="2em"}}
        {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" numDots=5 lineWidth="2em"}}
        {{!-- END-SNIPPET --}}
      </div>

      {{snippet-view-toggler class="u-mt-md" snippetName="basic-layout-vertical-dots.hbs"}}
    </section>
  </section>

  {{demo-page-divider class="section-page-divider"}}

  <section class="page-section">
    <h2 class="section-heading g-primary">Justification Types</h2>

    <section class="content-section">
      <h4 class="g-primary">Center (default)</h4>

      <div class="dot-set dot-set--horizontal u-mb-md">
        {{divider-dots class="demo-dots demo-dots--bordered" lineHeight="2em" justify="center"}}
      </div>

      <div class="u-text-center dot-set dot-set--vertical">
        {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" lineWidth="2em" gapSizePct=75 justify="center"}}
      </div>

      {{snippet-view-toggler class="u-mt-md" snippetName="justification-center.hbs"}}
    </section>

    {{#each (array 'start' 'end' 'between') as |justification|}}
      <section class="content-section">
        <h4 class="g-primary">{{capitalize justification}}</h4>

        <div class="dot-set dot-set--horizontal u-mb-md">
          {{divider-dots class="demo-dots demo-dots--bordered" lineHeight="2em" justify=justification}}
        </div>

        <div class="u-text-center dot-set dot-set--vertical">
          {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" lineWidth="2em" justify=justification gapSizePct=75}}
        </div>

        {{snippet-view-toggler class="u-mt-md" snippetName=(concat "justification-" justification ".hbs")}}
      </section>
    {{/each}}
  </section>

  {{demo-page-divider class="section-page-divider"}}

  <section class="page-section">
    <h2 class="section-heading g-primary">Dot Types</h2>

    <section class="content-section">
      <h4 class="g-primary">Circles (default)</h4>

      {{!-- BEGIN-SNIPPET dot-type-circle --}}
      {{divider-dots class="demo-dots" numDots=5 lineHeight="2em"}}
      {{!-- END-SNIPPET --}}

      {{snippet-view-toggler class="u-mt-md" snippetName="dot-type-circle.hbs"}}
    </section>

    <section class="content-section">
      <h4 class="g-primary">Squares</h4>

      {{!-- BEGIN-SNIPPET dot-type-square --}}
      {{divider-dots class="demo-dots" dotType="square" numDots=5 lineHeight="2em"}}
      {{!-- END-SNIPPET --}}

      {{snippet-view-toggler class="u-mt-md" snippetName="dot-type-square.hbs"}}
    </section>
  </section>

  {{demo-page-divider class="section-page-divider"}}

  <section class="page-section">
    <h2 class="section-heading g-primary">SVG Attribute Binding</h2>

    <section class="content-section">
      <h4 class="g-primary">Custom `fill` Attribute</h4>

      <div class="dot-set dot-set--horizontal">
        {{!-- BEGIN-SNIPPET fill-attribute --}}
        {{divider-dots class="demo-dots" numDots=5 lineHeight="2em" fill="#ffcf00"}}
        {{divider-dots class="demo-dots" numDots=5 lineHeight="2em" fill="pink"}}
        {{divider-dots class="demo-dots" numDots=5 lineHeight="2em" fill="#4da6e0"}}
        {{!-- END-SNIPPET --}}
      </div>

      {{snippet-view-toggler class="u-mt-md" snippetName="fill-attribute.hbs"}}
    </section>

    <section class="content-section">
      <h4 class="g-primary">`stroke` and `stroke-width`</h4>

      <div class="dot-set dot-set--horizontal">
        {{!-- BEGIN-SNIPPET stroke-and-stroke-width-attributes --}}
        {{divider-dots class="demo-dots" numDots=5 lineHeight="2em" stroke="#ffcf00" crossSizePct="60"}}
        {{divider-dots class="demo-dots" numDots=5 lineHeight="2em" stroke="#ffcf00" stroke-width="2px" crossSizePct="60"}}
        {{divider-dots class="demo-dots" numDots=5 lineHeight="2em" stroke="#ffcf00" stroke-width="4px" crossSizePct="60"}}
        {{!-- END-SNIPPET --}}
      </div>

      {{snippet-view-toggler class="u-mt-md" snippetName="stroke-and-stroke-width-attributes.hbs"}}
    </section>
  </section>

  {{demo-page-divider class="section-page-divider"}}

  <section class="page-section">
    <h2 class="section-heading g-primary">Other Styling Properties</h2>

    <section class="content-section">
      <h4 class="section-heading g-primary">`gapSizePct` (default: 125)</h4>

      <p>
        "Gap size" focuses on the spacing between two dots. <code class="c-code-text">gapSizePct</code> is treated as
        the percentage of the `dotSize`, and allows you to have fine-grained control over the amount of spacing,
        regardless of whether or not you know each dot's exact measure.
      </p>

      <div class="dot-set dot-set--horizontal u-mt-md">
        {{!-- BEGIN-SNIPPET gutter-size-pct-attribute --}}
        {{divider-dots class="demo-dots" numDots=5 lineHeight="2em"}}
        {{divider-dots class="demo-dots" numDots=5 lineHeight="2em" gapSizePct=250}}
        {{divider-dots class="demo-dots" numDots=5 lineHeight="2em" gapSizePct=400}}
        {{divider-dots class="demo-dots" numDots=5 lineHeight="2em" gapSizePct=100}}
        {{!-- END-SNIPPET --}}
      </div>

      {{snippet-view-toggler class="u-mt-md" snippetName="gutter-size-pct-attribute.hbs"}}

    </section>

    <section class="content-section">
      <h4 class="section-heading g-primary">`crossSizePct`</h4>

      <p>
        Borrowing from the definition of a <i>cross axis</i>, <i>cross size</i> is considered to be the
        amount of space in the direction opposite to the layout direction. For example, with a horizontal row
        of dots, the <i>cross size</i> is the row container's height.
      </p>

      <p>
        <code class="c-code-text">crossSizePct</code> is treated as a percentage of this size.
      </p>

      <p>
        <span class="g-font-bold">🔑 TIP:</span>
        This can come in handy if you need to create spacing around the dots without affecting the margin or padding
        of their container.
      </p>

      <div class="dot-set dot-set--horizontal u-mt-md">
        {{!-- BEGIN-SNIPPET cross-size-pct-attribute --}}
        {{divider-dots class="demo-dots demo-dots--bordered" numDots=5 lineHeight="6em" crossSizePct="23"}}
        {{divider-dots class="demo-dots demo-dots--bordered" numDots=5 lineHeight="2em" crossSizePct="40"}}
        {{divider-dots class="demo-dots demo-dots--bordered" numDots=5 lineHeight="4em" crossSizePct="80"}}
        {{!-- END-SNIPPET --}}
      </div>

      {{snippet-view-toggler class="u-mt-md" snippetName="cross-size-pct-attribute.hbs"}}
    </section>

    <section class="content-section">
      <h4 class="g-primary">`lineWidth` and `lineHeight`</h4>

      <p>
        <span class="g-font-bold">🔑 TIP:</span>
        The default for <code class="c-code-text">lineWidth</code> and <code class="c-code-text">lineHeight</code> is 100%, depending on which one represents
        the cross direction. This means that you can
        also simply size the divider's root element with CSS, and let the cross size be filled automatically.
      </p>

      <section class="content-section  u-mt-md">

        <div class="dot-set dot-set--horizontal">
          {{!-- BEGIN-SNIPPET line-height-attribute --}}
          {{divider-dots class="demo-dots demo-dots--bordered" numDots=5 lineHeight="2em"}}
          {{divider-dots class="demo-dots demo-dots--bordered" numDots=5 lineHeight="4em"}}
          {{divider-dots class="demo-dots demo-dots--bordered" numDots=5 lineHeight="8em" crossSizePct="60"}}
          {{!-- END-SNIPPET --}}
        </div>

        {{snippet-view-toggler class="u-mt-md" snippetName="line-height-attribute.hbs"}}
      </section>

      <section class="content-section">
        <div class="dot-set dot-set--vertical u-text-center">
          {{!-- BEGIN-SNIPPET line-width-attribute --}}
          {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" lineWidth="2em" crossSizePct=50 gapSizePct=400}}
          {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" lineWidth="2em"}}
          {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" lineWidth="4em" gapSizePct=30}}
          {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" lineWidth="2em"}}
          {{divider-dots class="demo-dots demo-dots--bordered" direction="vertical" lineWidth="2em" crossSizePct=50 gapSizePct=400}}
          {{!-- END-SNIPPET --}}
        </div>

        {{snippet-view-toggler class="u-mt-md" snippetName="line-width-attribute.hbs"}}
      </section>
    </section>

    <section class="content-section">
      <h4 class="section-heading g-primary">`numDots` (default: 4)</h4>

      <p>
        Feel free to compose your divider with as many dots as you want. Ember Divider Dots
        gives you all the controls you need to make them fit.
      </p>

      <p>
        (And, with SVG, responsive sizing is built-in. Try resizing your screen to see it in action!)
      </p>

      <div class="dot-set dot-set--horizontal u-mt-md">
        {{!-- BEGIN-SNIPPET num-dots-attribute --}}
        {{divider-dots class="demo-dots" lineHeight="2rem" numDots=22 gapSizePct=50 fill="#4da6e0"}}
        {{divider-dots class="demo-dots" lineHeight="2.5rem" numDots=7}}
        {{divider-dots class="demo-dots" lineHeight="3rem" justify="between" fill="#4da6e0"}}
        {{divider-dots class="demo-dots" lineHeight="2.5rem" numDots=7}}
        {{divider-dots class="demo-dots" lineHeight="2rem" numDots=22 gapSizePct=50 fill="#4da6e0"}}
        {{!-- END-SNIPPET --}}
      </div>

      {{snippet-view-toggler class="u-mt-md" snippetName="num-dots-attribute.hbs"}}
    </section>

  </section>
</article>


